SharedData/Content/Extras/
SharedData/Content/Prefabs/
SharedData/Content/Bundles/suitprops/
TraderNPCConfig.ecf
TokenConfig.ecf
SqlQueries.txt
LootGroups.ecf
GalaxyConfig.ecf
FactionWarfare.ecf
EGroupsConfig.ecf
Dialogues.ecf
Dialogues.csv
DefReputation.ecf
Containers.ecf
Config_Example.ecf
BAIConfig.ecf
Animations.ecf
Factions.ecf
*.bin
Content/Configuration/GalaxyConfig.ecf
Content/Configuration/BlockShapesWindow.ecf
hws_eclassmodels
hws_eclassmodels.manifest
hws_itemmodels
hws_itemmodels.manifest
hws_projectiles
hws_projectiles.manifest
